
    
html {
    scroll-behavior: initial;
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: #000;
}













